<h1 class="text-center">
  {{title}}
</h1>
<div class="container">
    <div style="max-height: 700px; overflow-x: hidden; overflow-y: auto" 
        *ngFor="let msg of messages | async; let i = index; trackBy: trackByFn">
        <div [ngClass]="{ 'text-right' : (i+1)%2 === 0 }">
            <strong> {{(msg.nombre || msg.name)}}</strong><br>
            Said: <i>{{msg.msg}}</i>
        </div>
    </div>
    <div class="input-group" style="padding-top: 15px">
      <input type="text" name="msg" #msg class="form-control" placeholder="Text of message..." >
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="sendMessage(msg.value); msg.value = ''" type="button">Send</button>
      </span>
    </div>
</div>
